<%- include('partials/header') %>

<div class="header">
  <div class="short-logo">
    <img src="img/simple-logo.png" alt="logo" />
  </div>
  <% if(isAuth){ %>
  <div class="menu">
    <div class="label-menu">
      <div class="label-menu-items">
        <a href="/">
          Home
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/submit">
          Submit a secret
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/user">
          My Account
        </a>
      </div>
    </div>
    <div class="btn btn-outline-danger my-2 my-sm-0 log-btn">
      <a class="text-danger text-decoration-none" href="/logout">Logout</a>
    </div>
    <%} else {%>
    <div class="btn btn-primary my-2 my-sm-0">
      <a class="text-light text-decoration-none btn-sm log-btn" href="/login"
        >Login</a
      >
    </div>
    <%}%>
  </div>
</div>
<div class="separator"></div>

<%if(isAuth){%>
<h3 class="text-center secrets-title">Secrets Wall</h3>
<%} else if(showSecrets.length === 0) {%>
<h4 class="text-center">
  Not enough secrets to pick one radomly. Login to post your secrets !
</h4>
<% } else {%>
<h3 class="text-center secrets-title">Random Secrets</h3>
<% }%>

<div class="container-secrets container-fluid  mx-auto">
  <div class="secrets-cards">
    <div class="row">
      <%if(isAuth){%> <%if(showSecrets.length != 0){%>
      <%showSecrets.forEach(secret => { %>
      <div class="col-md-8 col-lg-6 mx-auto">
        <div class="card card-1">
          <small class="text-left">Posted by <%= secret.user%></small>
          <div class="card-text">
            <p><%=secret.content%></p>
            <div class="likes-count">
              <span><%=secret.likes_count%></span>
              <span>Likes</span>
            </div>
          </div>
          <hr />
          <div class="card-likes">
            <form action="/secrets" method="POST">
              <div class="card-likes-btn">
                <button
                  type="submit"
                  value="Like"
                  class="btn btn-sm btn-primary"
                  name="likeBtn"
                >
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <input type="hidden" name="cardId" value="<%= secret._id%>" />
                <button
                  type="submit"
                  value="Dislike"
                  class="btn btn-sm btn-danger"
                  name="dislikeBtn"
                >
                  <i class="fas fa-thumbs-down"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <%}); } else { %>

      <p class="mx-auto">There is no secrets on the wall</p>

      <%} } else { %> <% showSecrets.forEach(secret => { %>
      <div class="col-lg-6">
        <div class="card card-1">
          <p><%=secret.content%></p>
          <hr />
          <span><%=secret.likes_count%> Likes<span>
        </div>
      </div>
      <%}); } %>
    </div>
  </div>
</div>

<% if(isAuth){ %>
<div class="menu-tab">
  <div class="menu-tab-items">
    <a href="/user">
      <i class="far fa-user"></i>
    </a>
  </div>
  <div class="menu-tab-items">
    <a href="/">
      <i class="fas fa-home"></i>
    </a>
  </div>
  <div class="menu-tab-items">
    <a href="/submit">
      <i class="far fa-edit"></i>
    </a>
  </div>
</div>
<% } %>
<div class="bottom-separator"></div>
<%- include('partials/footer') %>
