<%- include('partials/header') %>

<div class="header">
  <div class="short-logo">
    <img src="img/short_logo.png" alt="logo" />
    <p class="header-title">My Account</p>
  </div>
  <div class="menu">
    <div class="label-menu">
      <div class="label-menu-items">
        <a href="/">
          Home
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/submit">
          Submit a secret
        </a>
      </div>
      <div class="label-menu-items">
        <a href="/user">
          My Account
        </a>
      </div>
    </div>
    <div class="btn btn-outline-danger my-2 my-sm-0 logout-btn bg-light ">
      <a class="text-danger text-decoration-none" href="/logout">Logout</a>
    </div>
  </div>
</div>
<div class="separator"></div>

<div class="user-secrets container-fluid  mx-auto">
  <h3><%=user%>'s Secrets</h3>

  <hr />


      <% if(showMySecrets.length != 0){%>
      <% showMySecrets.forEach(secret => { %>
      <div class="row user-row">
        <div class="col-md-8 col-lg-6 mx-auto user-card">
          <div class="user-card-item">
          <p><%=secret.content%></p>
          <a href="javascript:if(confirm('Are you sure you want to delete your secret ?')){document.location.href='/delete/<%=secret._id%>';}">
            <i class="far fa-trash-alt"></i>
          </a>
          </div>
        </div>
      </div>
        <%}); } else { %>
          <p class="mx-auto">You have no secrets yet</p>
          <% };%>


      <hr />

      <div class="btn delete-btn btn-danger my-2 ">
        <a
          class="text-light text-decoration-none"
          href="javascript:if(confirm('Are you sure you want to delete your account ?')){document.location.href='/user/<%=userId%>';}"
          >Delete My Account</a
        >
      </div>
    </div>

    <div class="menu-tab">
      <div class="menu-tab-items">
        <a href="/user">
          <i class="far fa-user"></i>
        </a>
      </div>
      <div class="menu-tab-items">
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </div>
      <div class="menu-tab-items">
        <a href="/submit">
          <i class="far fa-edit"></i>
        </a>
      </div>
    </div>

    <%- include('partials/footer') %>
  </div>
</div>
